[project]
name = "voice-output"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "numpy>=2.3.5",
    "pyzmq>=27.1.0",
    "sounddevice>=0.5.3",
]
